VITE_PAYBY_DEFAULT_NETWORK=shelbynet
VITE_SHELBY_TESTNET_API_KEY=
VITE_SHELBYNET_API_KEY=
VITE_APTOS_TESTNET_API_KEY=
VITE_APTOS_SHELBYNET_API_KEY=
VITE_PAYBY_TESTNET_MARKETPLACE_ADDRESS=
VITE_PAYBY_SHELBYNET_MARKETPLACE_ADDRESS=
VITE_PAYBY_PAYMENT_ASSET_METADATA=
VITE_PAYBY_TESTNET_PAYMENT_ASSET_METADATA=
VITE_PAYBY_SHELBYNET_PAYMENT_ASSET_METADATA=
VITE_PAYBY_APT_PAYMENT_ASSET_METADATA=
VITE_PAYBY_SHELBYUSD_PAYMENT_ASSET_METADATA=
VITE_PAYBY_TESTNET_APT_PAYMENT_ASSET_METADATA=
VITE_PAYBY_TESTNET_SHELBYUSD_PAYMENT_ASSET_METADATA=
VITE_PAYBY_SHELBYNET_APT_PAYMENT_ASSET_METADATA=
VITE_PAYBY_SHELBYNET_SHELBYUSD_PAYMENT_ASSET_METADATA=

PORT=
NODE_ENV=
PAYBY_TESTNET_MARKETPLACE_ADDRESS=
PAYBY_SHELBYNET_MARKETPLACE_ADDRESS=
PAYBY_APTOS_TESTNET_API_KEY=
PAYBY_APTOS_SHELBYNET_API_KEY=
PAYBY_TESTNET_FULLNODE_URL=https://api.testnet.aptoslabs.com/v1
PAYBY_SHELBYNET_FULLNODE_URL=https://api.shelbynet.aptoslabs.com/v1
